name: Print Book

on:
  push:
    branches:
      - main
      - 'feat/*'
  pull_request:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: print book inside docker container
      run: make inside

    - name: export pdf
      uses: actions/upload-artifact@v4
      with:
        name: document
        path: tmp/book.pdf
