name: Print Book

on:
  push:
    branches:
      - main
      - 'feat/*'
  pull_request:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        # rebases and merge verifying
        fetch-depth: 0

    - name: print book inside docker container
      run: make inside

    - name: verify commit signature
      # ensure that every commit has a signature
      run: git log -1 --show-signature

    - name: export pdf
      uses: actions/upload-artifact@v4
      with:
        name: document
        path: tmp/book.pdf
